{% extends 'base.html' %}
{% block body %}
  <div class="container" style="background-color:bisque;">
    <form action="/add-new-book" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Book Title:</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter book title" />
      </div>
      <div class="form-group">
        <label for="isbn">Enter ISBN number:</label>
        <input type="text" maxlength="17" class="form-control" id="isbn" name="isbn" placeholder="ISBN" />
      </div>
      <div class="form-group">
        <label for="isbn">Enter MRP of the book:</label>
        <input type="number" class="form-control" id="mrp" name="mrp" placeholder="MRP in rupees" />
      </div>
      <div class="form-group">
        <label for="isbn">Enter selling price of the book:</label>
        <input type="number" class="form-control" id="sellPrice" name="sellPrice" placeholder="Selling price?" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
